<div class="card">
    <center>
        <h3>Kurv</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <Input type="text" class="form-control" placeholder="Fornavn" @value={{this.firstName}}/>
                    <Input type="text" class="form-control" placeholder="Efternvan" @value={{this.lastName}}/>
                    <Input type="number" class="form-control" placeholder="Tlf." @value={{this.phoneNumber}}/>
                    <Input type="email" class="form-control" placeholder="Mail" @value={{this.mail}}/>
                    <Input type="text" class="form-control" placeholder="Adresse"@value={{this.address}}/>
                </div>
                <div class="col-6">
                    <div class="card">
                        {{#each @products as |product|}}
                        <p>Antal: {{product.amount}} | Navn: {{product.item.name}} | Størrelse: {{product.size}}</p>
                        <hr>
                        {{/each}}
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                    <div class="card">
                        <Input type="text" class="form-control" placeholder="Kortnummer" @value={{this.cartNumber}}/>
                        <div class="row">
                            <div class="col-sm">
                                <Input type="month" class="form-control" placeholder="Udløbsdato" @value={{this.date}}/>
                            </div>
                            <div class="col-sm">
                                <Input type="text" class="form-control" placeholder="Kontrolnummer" @value={{this.controlNumber}}/>
                            </div>
                        </div> <br>
                        <button class="btn btn-block btn-primary" type="button" {{action "onPayment"}}>Betal</button> <br>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
