{{page-title "ProductPage"}}
<div class="container-fluid">
    <div class="col-sm"></div>
    <div class="col-sm">
        {{#each @model as |item|}}
        <div class="w-800 mw-full">
            <div class="card p-0">
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <div class="content">
                                    <div class="w-400 mw-full">
                                        <div class="card">
                                            <h4>Gallery</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm"></div>
                            <div class="col-sm">
                                <div class="content">
                                    <div class="w-400 mw-full">
                                        <div class="card">
                                            <h4>{{item.name}}</h4>
                                            <h5>{{item.price}} kr.</h5>
                                            <input type="text" class="form-control" placeholder="Antal"> <br>
                                            <select class="form-control" id="select-1">
                                                <option value="" selected="selected" disabled="disabled">Vælg størrelse</option>
                                                {{#each item.sizes as |size|}}
                                                    <option value="small">{{size}}</option>
                                                {{/each}}
                                            </select> <br>
                                            <button class="btn" id="addCart" type="button" {{on "click" this.addToCart}}> Tilføj til kurv</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <div class="card">
                        <h3>Description</h3>
                        <p>{{item.description}}</p>
                     </div>
                     {{#each this.cart.itemList as |item|}}
                        <div>
                            <h4>{{item.name}}</h4>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-sm"></div>
</div>


{{outlet}}