{{page-title "ProductPage"}}
<div class="container-fluid">
    <div class="col-sm"></div>
    <div class="col-sm">
        {{#each @model as |item|}}
        <div class="w-800 mw-full">
            <div class="card p-0">
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <div class="content">
                                    <div class="w-400 mw-full">
                                        <div class="card">
                                            <h4>Gallery</h4>
                                            <img style="width: 20vw;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm"></div>
                            <div class="col-sm">
                                <div class="content">
                                    <div class="w-400 mw-full">
                                        <Product-page @item={{item}} />
                                    </div>
                                </div>
                            </div>
                        </div>
                     <div class="card">
                        <h3>Description</h3>
                        <p>{{item.description}}</p>
                     </div>
                     {{#each this.cart.items as |item|}}
                        <div>
                            <h4>{{item.name}}</h4>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-sm"></div>
</div>


{{outlet}}